PAYMASTER_AND_BUNDLER_ENDPOINT=https://api.developer.coinbase.com/rpc/v1/XXXXXXXXXXXXXXXXXXXXX
VITE_PUBLIC_ONCHAINKIT_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
PRODUCT_ID=XXXXXXXXXXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXXXXXX