PAYMASTER_AND_BUNDLER_ENDPOINT=https://api.developer.coinbase.com/rpc/v1/XXXXXXXXXXXXXXXXXXXXX
VITE_PUBLIC_ONCHAINKIT_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
PRODUCT_ID=XXXXXXXXXXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXXXXXX
BACK_API_BASE_URL=http://localhost:5252/api
VITE_AUTH0_DOMAIN=dev-hedhXXXXXXXXXXXXXXXXXXXXXXXXX
VITE_AUTH0_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
VITE_AUTH0_CALLBACK_URL=http://localhost:5173/callback
VITE_AUTH0_AUDIENCE=http://elbuen-sabor-api